---
---

//
// IMPORTS
//

//@import "reset";
//@import "variables";
// Syntax highlighting @import is at the bottom of this file

/**************/
/* BASE RULES */
/**************/

nav button.unscramble {
  font-size: 12pt; /* Match the font size of the previous links */
  font-weight: 700; /* Ensure the bold font matches */
  font-family: 'Bitter', serif; /* Ensure font-family consistency */
  font-variant: small-caps;
  padding: 0.5em 1em; /* Adjust padding for a better visual balance */
  border: none; /* Remove default button border */
  background-color: #377E7F; /* Keep the teal background */
  color: white; /* Keep the text color white */
  border-radius: 5px; /* Optional: Keep rounded corners for buttons */
  cursor: pointer; /* Ensure it looks like a clickable button */
  text-align: center;
  text-decoration: none;
  opacity: 1;
  transition-duration: 0.4s;
  margin: 0 0.5em;
  display: inline-block;

  /* Add fixed width and height */
  width: 120px; /* Match the width of the longest word (TEACHING) */
  height: 40px; /* Ensure consistent height */
  line-height: 1.2; /* Balance the text spacing */
  margin: 0; /* Reduce horizontal spacing between buttons */
}

.unscramble:hover {
  background-color: #F0EDE2;
  color: #daa520;
  text-decoration: none;
}

nodoi {
  color: black;
  text-decoration: none;
}

simpleentry {
  font-family: 'Bitter', serif;
  font-size: 12pt;
  font-weight: 300;
  font-display: auto;
  
  a {
    font-size: inherit; /* Inherit the font size from simpleentry */
    text-decoration: none; /* Optional: Remove underline */
    color: inherit; /* Optional: Inherit the color if needed */
}
}

course {
  font-family: 'Bitter', serif;
  font-size: 14pt;
  font-weight: 300;
  font-display: auto;
}

a {
  // color: #1772d0;
  color: black;
  text-decoration: none;
}

a:focus,
a:hover {
  color: #daa520;
  text-decoration: none;
}

a-footer {
  color: #1772d0;
  text-decoration: none;
  font-family: 'Bitter', serif;
  font-size: 12pt;
  font-weight: 300;
  font-display: auto;
}

a-footer:focus,
a-footer:hover {
  color: #daa520;
  text-decoration: none;
}

body,
td,
th,
tr,
p,
nodoi,
a {
  font-family: 'Bitter', serif;
  font-size: 14pt;
  font-weight: 300;
  font-display: auto;
}

body {
  background-color: #F0EDE2;
}

li::marker {
  color: #377E7F;
}

p {
  //padding: 0 1em;
  margin-left: 5%;
  line-height: 1.5;
}

.inline-hr {
  font-family: 'Bitter', serif;
  font-weight: 700;
  font-display: auto;
  font-variant: small-caps;
  line-height: 1em;
  position: relative;
  outline: 0;
  border: 0;
  color: black;
  text-align: center;
  height: 1.5em;
  opacity: 1;

  &:before {
    content: '';
    // use the linear-gradient for the fading effect
    // background: linear-gradient(to right, transparent, #377E7F, transparent);
    background-color: #377E7F;
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 3pt;
  }
  
  &:after {
    content: attr(data-content);
    position: absolute;
    text-align: left;
    color: black;
    padding: 0 0.5em;
    margin: auto;
    line-height: 1.5em;
    color: black;
    background-color: #F0EDE2;
  }
}

.section {
  font-size: 20pt;
  margin-bottom: 1.5em;
  
  &:after {
    left: 5%;
  }
}

.subsection {
  font-size: 16pt;
  
  &:before {
    background-color: #F0EDE2;
  }
  
  &:after {
    left: 5.275%;
  }
}

.aligned-ul {
  margin-bottom: 2em;
  padding-left: calc(5.275% + 1.675em);
  line-height: 1.5;
}

footer {
  font-family: 'Bitter', serif;
  font-size: 10pt;
  font-weight: 400;
  font-display: auto;
  text-align: center;
  padding: 1em 1em 1em 1em;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-left: 0em;
  margin-right: 0em;
  line-height: 2;
}

.wide-hr {
  border: 2pt solid #377E7F;
  width: 100%;
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
}

.one {
  width: 160px;
  height: 160px;
  position: relative;
}

.two {
  width: 160px;
  height: 160px;
  position: absolute;
  transition: opacity .2s ease-in-out;
  -moz-transition: opacity .2s ease-in-out;
  -webkit-transition: opacity .2s ease-in-out;
}

/* Styling for R&R line under working papers */
.rr-journal {
  display: block;               /* puts it on its own line */
  font-weight: 900;             /* bold */
  font-size: 12pt;;            /* slightly smaller than the title */
  margin-top: 0.4em;            /* half-line above */
  margin-bottom: -1.4em;         /* half-line below */
  font-family: 'Bitter', serif; /* matches your title font */
}

/* Improve ampersand appearance */
.rr-journal::before,
.rr-journal::after {
  /* Forces a cleaner rendering of the ampersand across browsers */
  font-variant-ligatures: none;
}

.fade {
  transition: opacity .2s ease-in-out;
  -moz-transition: opacity .2s ease-in-out;
  -webkit-transition: opacity .2s ease-in-out;
}

span.highlight {
  background-color: #ffffd0;
}

.headerimg-wide {
  overflow: hidden;
  padding: 20px 10px;
}

.default-headerimg {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  padding: 20px 0.5em;
}

.default-headerimg img {
  flex: 1; /* Allows the images to take up equal space */
  margin: 10px 25px; /* Adjusts spacing between images */
  max-width: 15%;
  max-height: auto;
  object-fit: contain;
  border-radius: calc( 2vw + 2vh);
}

.mobile-headerimg {
  display: none; /* Hide by default */
}

.header {
  // background-color: #112757;
  background-color: #F0EDE2;
  overflow: hidden;
  padding: 0em;
}

.header nodoi {
  float: left;
  margin-left: 2em;
  color: black;
  text-align: center;
  padding: 0em 0em 0em 0em;
  text-decoration: none;
  font-family: 'Bitter', serif;
  font-size: 20pt;
  font-weight: 700;
  font-variant: small-caps;
  line-height: 1.5;
}

.header a {
  float: left;
  margin-right: 2em;
  color: black;
  text-align: center;
  padding: 0em 0em 0em 0em;
  text-decoration: none;
  font-family: 'Bitter', serif;
  font-size: 20pt;
  font-weight: 700;
  font-variant: small-caps;
  line-height: 1.5;
}

footer a {
  font-size: 10pt;
  font-weight: 300;
}

.header a.logo {
  font-size: 0.25em;
  font-weight: bold;
}

.header a:hover {
  background-color: #F0EDE2;
  // color: #daa520;
}

.header a.active {
  background-color: #F0EDE2;
  // color: #daa520;
}

.header-right {
  float: right;
  display: flex;
  flex-direction: row;
}

.header-left {
  float: left;
  display: flex;
  flex-direction: row;
}

.content-cell {
  padding: 0 2.5%;
  width: 77.5%;
  vertical-align: middle;
  text-align: justify;
}

.contact {
  ul {
    padding-left: 5.275%; /* Adjust this value to align with the red line */
    margin-bottom: 2em;
    list-style-type: none;
  }

  li {
    display: flex;
    align-items: center;
    justify-content: left;
    font-family: 'Bitter', serif;
    font-size: 12pt;
    font-weight: 300;
    line-height: 2;
  }

  li + li:before {
    content: "";
  }
  
  a {
    padding-left: 1em;
    font-size: 0;
  }

  .social-icons {
  
      a {
      white-space: nowrap;
      font-size: 12pt;
    }

    #email {
        padding-left: 0.5em;
    }
    
  }
}


.profile-photo-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.profile-photo {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  margin-right: 50px;
}

.profile-photo-img {
  max-width: 202px;
  max-height: auto;
  object-fit: contain;
  border-radius: calc(2vw + 2vh);
  margin: 50px 25px 10px 25px;
}

.default-headerimg {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  padding: 20px 10px;
}

.default-headerimg img {
  flex: 1; /* Allows the images to take up equal space */
  margin: 10px 25px; /* Adjusts spacing between images */
  max-width: 15%;
  max-height: auto;
  object-fit: contain;
  border-radius: calc( 2vw + 2vh);
}

.contact2 {
  ul {
    display: flex;
    justify-content: center;
    gap: 1em;
    padding: 0em 0;
    margin: 0;
    list-style-type: none;
  }

  li {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  a {
    padding: 0;
    font-size: 0;
  }

  .social-icons {
    a {
      white-space: nowrap;
      font-size: 2em;
    }
  }

  .cv-icon {
    margin-bottom: -0.5em; /* Add space between CV and social icons */
    text-align: center; /* Center-align the CV icon */
    a {
      white-space: nowrap;
      font-size: 2em;
    }
  }

}


.site-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    //padding: 0.5em 2em;
    padding: 0.5em 0;
    margin: 0 6%;
    background-color: #F0EDE2;
    font-family: 'Bitter', serif;
    font-size: 20pt;
    font-weight: 700;
    font-variant: small-caps;
}

.header-content {
    text-align: left;
    flex-grow: 1;
    //margin-left: 5%;
}

nav {
    display: flex;
    gap: 2em;
}

nav a {
    text-decoration: none;
    color: black;
    font-family: 'Bitter', serif;
    font-size: 20pt;
    font-weight: 700;
    font-variant: small-caps;
}

@media screen and (max-width: 393px) {

  table {
    max-width: 95% !important; /* Override the max-width to 90% */
    margin-left: auto;
    margin-right: auto;
  }

  .contact2 {
    display: flex; /* Make the container a flexbox */
    justify-content: center; /* Center-align all icons */
    align-items: center; /* Vertically align content */
    max-width: 90%; /* Match the teal line width */
    margin: 0 auto; /* Center the container */
    padding: 0.5em 0; /* Add some vertical spacing */

    ul {
      display: flex; /* Flexbox for the icon list */
      justify-content: space-evenly; /* Even spacing between icons */
      gap: 1em; /* Adjust spacing between icons */
      width: 100%; /* Occupy full width of the container */
      list-style-type: none; /* Remove list bullets */
      margin: 0; /* Remove extra margins */
      padding: 0; /* Remove extra padding */
    }

    li {
      flex: 1; /* Ensure each icon takes equal space */
      display: flex;
      justify-content: center; /* Center the icons */
    }

    .social-icons {

      a {
        font-size: 3em; /* Set icon size for mobile */
        color: #377E7F; /* Icon color */
        text-decoration: none; /* Remove underlines */
      }
    
    }
  }

.hide-on-mobile {
    display: none; /* Hide the line on small screens */
}

.content-cell {
width: 100%;
max-width:100%;
text-align: justify;
padding: 0 1em;
margin: 0 auto;
}

p {
  margin: 0 auto 1em auto; // Remove default margins and center
  line-height: 1.5;
}

.container {
  padding: 0 1em; // Remove excessive container padding and add narrow spacing
  margin: 0 auto; // Center container
}

body {
  margin: 0;
  padding: 0;
}

.profile-photo {
display: none; /* Hide profile photo on mobile */
}

/* Default header images */
.default-headerimg {
display: none;
}

/* Mobile header image */
.mobile-headerimg {
display: flex;
flex: 1;
flex-direction: column;
justify-content: center; /* Aligns items in the center horizontally */
align-items: center; /* Aligns items in the center vertically */
overflow: hidden;
padding: 0;
}

.mobile-headerimg img {
margin: 0;
width: 50%;
max-height: auto;
object-fit: contain;
border-radius: calc( 2vw + 2vh);
}

.mobile-headerimg p {
margin: 0.5em 0 0 0;
font-family: 'Bitter', serif;
font-size: 16pt;
font-weight: 700;
text-align: center;
font-variant: small-caps;
}

.contact {
li {
font-size: 10pt;
}

span {
font-size: 10pt;
}

a {
font-size: 10pt;
}

button {
font-size: 10pt;
}

.social-icons {

  a {
  white-space: nowrap;
  font-size: 10pt;
}

#email {
    padding-left: 0.5em;
}

}

}

.site-header {
flex-direction: column;
line-height: 2;
font-size: 10pt;
}

.header-content {
display: none;
//text-align: justify;
}

nav a {
font-size: 16pt;
}

nav {
  display: flex;
  gap: 4em;
  margin-top: -0.75em;
  margin-bottom: -0.75em;
}

.header {
  flex-direction: column;
  padding: 0; /* Remove any padding around the header */
  margin: 0; /* Remove any margins */
}

.header a {
float: none;
display: block;
text-align: left;
width: 100%;
}

.header-right,
.header-left {
text-align: justify;
vertical-align: middle;
width: 100%;
flex-direction: column;
align-items: center;
font-size: 14pt;
margin: 0;
padding: 0;
}

.header-left nodoi,
.header-right a {
text-align: center; /* Center align text */
width: 100%;
padding: 0; /* Add padding for better spacing */
font-size: 16pt; /* Adjust font size for mobile */
}

.headerimg img {
max-width: 100%;
}

body,
td,
th,
tr,
p,
nodoi,
a,
a-footer,
course {
font-size: 10pt;
}

footer {
  font-size: 8pt;
}

footer a {
font-size: 8pt;
}

simpleentry {
font-size: 10pt;
}

section {
font-size: 5pt;
}

subsection {
font-size: 10pt;
}

.inline-hr.section {
  font-size: 16pt;
}

}

@media only screen and (max-width: 1024px) {

.default-headerimg img {
  flex: 1; /* Allows the images to take up equal space */
  margin: 10px 25px; /* Adjusts spacing between images */
  max-width: 10%;
  max-height: auto;
  object-fit: contain;
  border-radius: calc( 2vw + 2vh);
}

}

/* ----------------------------- */
/* MOBILE ADJUSTMENTS FOR R&R    */
/* ----------------------------- */
@media screen and (max-width: 600px) {
  .rr-journal {
    font-size: 12pt !important;      /* smaller on mobile */
    font-weight: 600;               /* slightly lighter for readability */
    margin-top: 0.15em !important;  /* tighter spacing */
    margin-bottom: -1.15em !important;
    line-height: 1.2 !important;    /* reduces the “tall block” look */
  }
}






// Settled on moving the import of syntax highlighting to the bottom of the CSS
// ... Otherwise it really bloats up the top of the CSS file and makes it difficult to find the start
//@import "highlights";
//@import "svg-icons";
