<!DOCTYPE HTML>
<html lang="en">

<head>

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-QMNMWFT3YZ"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'G-QMNMWFT3YZ');
    </script>

  <!-- Additional JS -->
  <script src="scramble.js"></script>
  <script src="https://use.fontawesome.com/releases/v6.6.0/js/all.js"></script>

  <!-- Meta tags -->
  <meta charset="utf-8">
  <meta name="author" content="{{ site.name }}">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Page title -->
  <title>{{ site.name }}</title>

  <!-- CSS styles -->
  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/jpswalsh/academicons@1/css/academicons.min.css">
          
  <!-- Canonical link for SEO -->
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,300;1,300&display=swap" rel="stylesheet">

  <!-- Favicon -->
  <link rel="icon" href="{{ site.baseurl }}/favicon.ico" type="image/x-icon">
  <link rel="icon" type="image/png" href="{{ site.baseurl }}/favicon.png">
  <link rel="icon" type="image/svg+xml" href="{{ site.baseurl }}/favicon.svg">
  <link rel="apple-touch-icon" href="{{ site.baseurl }}/apple-touch-icon.png">
</head>

<body>
    <table style="width:100%;max-width:70%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
        <tr style="padding:0px">
            <td style="padding:0px">
                <!-------------------------------------------------------------------------->
                <!---------------------------------- HOME ---------------------------------->
                <!-------------------------------------------------------------------------->
                <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
                    <tr>
                        <td colspan="2">
                            <div class="headerimg default-headerimg">
                                <img src="images/araguler1.png" alt="araguler1">
                                <img src="images/araguler2.png" alt="araguler2">
                                <img src="images/araguler3.png" alt="araguler3">
                                <img src="images/araguler4.png" alt="araguler4">
                                <img src="images/araguler5.png" alt="araguler5">
                            </div>
                            <div class="headerimg mobile-headerimg">
                                <img src="images/ozaneakbas-with-bg-2.png" alt="Ozan E. Akbas">
                                <p>
                                ozan e. akbas
                                </p>
                                <div class="contact2">
                                    <ul class="social-icons">
                                        <li>
                                            <a href="pdfs/OzanAKBAS_CV_2025.pdf"> 
                                                <i class="ai ai-cv-square" aria-hidden="true" style="color: #377E7F;"></i> 
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://x.com/ozaneakbas" style="color:black;"> 
                                                <i class="fa-brands fa-square-x-twitter" aria-hidden="true" style="color: #377E7F;"></i> 
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://www.linkedin.com/in/ozaneakbas/" style="color:black;"> 
                                                <i class="fa-brands fa-linkedin" aria-hidden="true" style="color: #377E7F;"></i> 
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://github.com/ozaneakbas/" style="color:black;"> 
                                                <i class="fa-brands fa-square-github" aria-hidden="true" style="color: #377E7F;"></i> 
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://scholar.google.com/citations?user=-iFka_MAAAAJ&hl=en&oi=sra/" style="color:black;"> 
                                                <i class="ai ai-google-scholar-square" aria-hidden="true" style="color: #377E7F;"></i> 
                                            </a>
                                        </li>
                                    </ul>
                                </div>                                
                            </div>
                            <hr class="inline-hr" data-content="">
                            <header class="site-header">
                                <div class="header-content">
                                    ozan e. akbas
                                </div>
                                <nav>
                                    <!-- <a class="unscramble" href="pdfs/OzanAKBAS_CV_2025.pdf">CV</a> -->
                                    <a href="#research">research</a>
                                    <a href="#teaching">teaching</a>
                                </nav>
                            </header>
                            <hr class="inline-hr" data-content="">
                        </td>
                    </tr>
                    <tr>
                        <td class="content-cell" style="vertical-align: top; padding-top: 2em;">
                            <p>
                            I am a fourth-year Ph.D. candidate in Finance and Economics at Warwick Business School.
                            </p>
                            <p>
                            My research sits at the intersection of financial economics, empirical industrial organization, and structural econometrics. I use structural econometrics to identify and estimate flexible, institutional asset demand systems, which allow me to recover investors' substitution patterns, price elasticities, and alphas. Furthermore, I integrate those demand curves into dynamic corporate finance models to study the feedback between institutional investor demand and firms' financing, investment, and payout policies.
                            </p>
                            <p style="margin-top: 2em;">
                            <b style="font-family: 'Bitter', serif; font-variant: small-caps; font-size: 16pt;">contact info:</b>
                            </p>
                            <div class="contact">
                                <ul class="social-icons">
                                    <li>
                                        <i class="fa-solid fa-square-envelope" aria-hidden="true" style="font-size:2em;color:#377E7F;padding-right:0.375em;"></i>
                                        <div id="email">
                                            <noscript><i>Please enable Javascript to view my email address.</i></noscript>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </td>
                        <td class="profile-photo-container" style="vertical-align: top; padding-top: 0.5em;">
                            <div class="profile-photo">
                                <img class="profile-photo-img" alt="profile photo" src="images/ozaneakbas-with-bg-2.png">
                                <div class="contact2">
                                    <!-- Separate the CV into its own unordered list -->
                                    <ul class="cv-icon">
                                        <li>
                                            <a href="pdfs/OzanAKBAS_CV_2025.pdf"> 
                                                <i class="ai ai-cv-square" aria-hidden="true" style="color: #377E7F;"></i> 
                                            </a>
                                        </li>
                                    </ul>
                                    <hr class="inline-hr" data-content="">
                                    <!-- Social Icons Section -->
                                    <ul class="social-icons">
                                        <li>
                                            <a href="https://x.com/ozaneakbas" style="color:black;"> 
                                                <i class="fa-brands fa-square-x-twitter" aria-hidden="true" style="color: #377E7F;"></i> 
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://www.linkedin.com/in/ozaneakbas/" style="color:black;"> 
                                                <i class="fa-brands fa-linkedin" aria-hidden="true" style="color: #377E7F;"></i> 
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://github.com/ozaneakbas/" style="color:black;"> 
                                                <i class="fa-brands fa-square-github" aria-hidden="true" style="color: #377E7F;"></i> 
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://scholar.google.com/citations?user=-iFka_MAAAAJ&hl=en&oi=sra/" style="color:black;"> 
                                                <i class="ai ai-google-scholar-square" aria-hidden="true" style="color: #377E7F;"></i> 
                                            </a>
                                        </li>
                                    </ul>
                                </div> 
                            </div>
                        </td>
                    </tr>
                </table>
                <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
                    <tr>
                    <!---------------------------------------------------------------------->
                    <!----------------------------- RESEARCH ------------------------------->
                    <!---------------------------------------------------------------------->
                    <hr id="research" class="inline-hr section" data-content="research">
                    <!---------------------------------------------------------------------->
                    <!--------------------------- WORKING PAPERS --------------------------->
                    <!---------------------------------------------------------------------->
                    <hr class="inline-hr subsection" data-content="working papers">
                    <ul class="aligned-ul">
                        {% for post in site.posts %}
                        {% for cat in post.categories %}
                        {% if cat == 'workingpaper' %}
                        <li>
                            <a href="{{post.doi}}" style="font-weight:700;"> {{post.title}} </a>
                            {% if post.type == 'joint' %}
                            <br>
                            <simpleentry>
                            <em> with {{post.coauthors}} </em>
                            </simpleentry>               
                            {% endif %}
                            {% if post.status == 'rr' %}
                            <br>
                            <b> R&amp;R at {{post.journal}} </b>
                            {% endif %}
                            {% if post.haiku != "" %}
                            <br>
                            <simpleentry>
                            <em style="color:#377E7F"> {{post.haiku}} </em>
                            </simpleentry>
                            {% endif %}
                            {% if post.notes != "" %}
                            <br>
                            <simpleentry>
                            <i>{{post.notes}}</i>
                            </simpleentry>
                            {% endif %}
                            {% if post.presentations != "" %}
                            <simpleentry>
                            <em> Selected Presentations: {{post.presentations}} </em>
                            </simpleentry>
                            {% endif %}
                            <p></p>
                        </li>
                        {% endif %}
                        {% endfor %}
                        {% endfor %}
                    </ul>
                    <!---------------------------------------------------------------------->
                    <!-------------------------- WORK IN PROGRESS -------------------------->
                    <!---------------------------------------------------------------------->
                    <hr class="inline-hr subsection" data-content="work in progress">
                    <ul class="aligned-ul">
                        {% for post in site.posts %}
                        {% for cat in post.categories %}
                        {% if cat == 'workinprogress' %}
                        <li>
                            <nodoi style="font-weight:700;"> {{post.title}} </nodoi>
                            {% if post.type == 'joint' %}
                            <em> with {{post.coauthors}} </em>
                            {% endif %}
                            {% if post.haiku != "" %}
                            <br>
                            <simpleentry>
                            <em style="color:#377E7F"> {{post.haiku}} </em>
                            </simpleentry>
                            {% endif %}
                            <p></p>
                        </li>
                        {% endif %}
                        {% endfor %}
                        {% endfor %}
                    </ul>
                    <!---------------------------------------------------------------------->
                    <!----------------------------- PRE-PHD -------------------------------->
                    <!---------------------------------------------------------------------->
                    <hr class="inline-hr subsection" data-content="pre-phd">
                    <ul class="aligned-ul">
                        {% for post in site.posts %}
                        {% for cat in post.categories %}
                        {% if cat == 'prephd' %}
                        <li>
                            <a href="{{post.doi}}" style="font-weight:700;"> {{post.title}} </a>
                            {% if post.type == 'joint' %}
                            <br>
                            <simpleentry>
                            <em> with {{post.coauthors}} </em>
                            </simpleentry>               
                            {% endif %}
                            {% if post.status == 'rr' %}
                            <br>
                            <b> R&amp;R at {{post.journal}} </b>
                            {% endif %}
                            {% if post.haiku != "" %}
                            <br>
                            <simpleentry>
                            <em style="color:#377E7F"> {{post.haiku}} </em>
                            </simpleentry>
                            {% endif %}
                            {% if post.notes != "" %}
                            <br>
                            <simpleentry>
                            <i>{{post.notes}}</i>
                            </simpleentry>
                            {% endif %}
                            {% if post.presentations != "" %}
                            <br>
                            <simpleentry>
                            <b> Selected Presentations: </b> {{post.presentations}}
                            </simpleentry>
                            {% endif %}
                            <p></p>
                        </li>
                        {% endif %}
                        {% endfor %}
                        {% endfor %}
                    </ul>                   
                    <!---------------------------------------------------------------------->
                    <!----------------------------- TEACHING ------------------------------->
                    <!---------------------------------------------------------------------->
                    <hr id="teaching" class="inline-hr section" data-content="teaching">
                    <ul class="aligned-ul">
                        <li>
                            <course>
                                Corporate Finance
                                <br>
                                <simpleentry>
                                <em> Postgraduate Module at Warwick Business School </em>
                                <br>
                                <em> Teaching Assistant for Andrea Gamba (2024) </em>
                                </simpleentry>
                            </course>
                        </li>
                        <p></p>
                        <li>
                            <course>
                                Mergers and Acquisitions
                                <br>
                                <simpleentry>
                                <em> Undergraduate Module at Warwick Business School </em>
                                <br>
                                <em> Teaching Assistant for Jim Goldman (2024), Noah Lyman (2025) </em>
                                </simpleentry>
                            </course>
                        </li>
                    </ul>                                          
                    </tr>
                </table>
                <!-------------------------------------------------------------------------->
                <!--------------------------------- FOOTER --------------------------------->
                <!-------------------------------------------------------------------------->
                <hr class="inline-hr" data-content="">
                <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
                    <tr>
                        <td>
                            <footer>
                            &copy; {{ site.time | date: '%Y' }} {{ site.name | default: site.title }}.
                            <br>
                            Design and source code are influenced by <a href="https://jonbarron.info/">Jon Barron</a> and <a href="https://leonidk.com/">Leonid Keselman</a>. Email scrambler is by <a href="https://jeffdonahue.com/">Jeff Donahue</a>.
                            <br>
                            The practice of writing haiku summaries of my research papers is inspired by <a href="https://kirbyknielsen.com/">Kirby Nielsen</a>.
                            <br>
                            <span class="hide-on-mobile">
                                The cover photo is by <a href="https://en.wikipedia.org/wiki/Ara_Güler">Ara Güler</a>, whose lens captured Istanbul very much as I saw it growing up: melancholic, nostalgic, and profoundly human.
                            </span>                       
                            </footer>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</body>

<script>
    emailScramble = new scrambledString(
        document.getElementById('email'),
        'emailScramble',
        'kow.buzrak.kca.awan@asic',
        [18,1,15,5,8,23,2,14,9,7,22,24,17,13,19,3,12,20,4,11,6,10,16,21]
    );
</script>

</html>
