<!DOCTYPE HTML>
<html lang="en">

<head>
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-E00L9PT3V9"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'G-E00L9PT3V9');
  </script>

  <!-- Additional JS -->
  <script src="scramble.js"></script>
  <script src="https://use.fontawesome.com/releases/v6.6.0/js/all.js"></script>

  <!-- Meta tags -->
  <meta charset="utf-8">
  <meta name="author" content="{{ site.name }}">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Page title -->
  <title>{{ site.name }}</title>

  <!-- CSS styles -->
  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/jpswalsh/academicons@1/css/academicons.min.css">
          
  <!-- Canonical link for SEO -->
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,300;1,300&display=swap" rel="stylesheet">

  <!-- Favicon -->
  <link rel="icon" href="{{ site.baseurl }}/favicon.ico" type="image/x-icon">
  <link rel="icon" type="image/png" href="{{ site.baseurl }}/favicon.png">
  <link rel="icon" type="image/svg+xml" href="{{ site.baseurl }}/favicon.svg">
  <link rel="apple-touch-icon" href="{{ site.baseurl }}/apple-touch-icon.png">
</head>

<body>
    <table style="width:100%;max-width:80%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
        <tr style="padding:0px">
            <td style="padding:0px">
                <!-------------------------------------------------------------------------->
                <!---------------------------------- HOME ---------------------------------->
                <!-------------------------------------------------------------------------->
                <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
                    <tr>
                        <td colspan="2">
                            <div class="headerimg default-headerimg">
                                <img src="images/araguler1.png" alt="araguler1">
                                <img src="images/araguler2.png" alt="araguler2">
                                <img src="images/araguler3.png" alt="araguler3">
                                <img src="images/araguler4.png" alt="araguler4">
                                <img src="images/araguler5.png" alt="araguler5">
                            </div>
                            <div class="headerimg mobile-headerimg">
                                <img src="images/ozaneakbas-with-bg.png" alt="Ozan E. Akbas">
                            </div>
                            <hr class="inline-hr" data-content="">
                            <header class="site-header">
                                <div class="header-content">
                                    ozan e. akbas
                                </div>
                                <nav>
                                    <a href="pdfs/OzanAKBAS_CV_2024.pdf">cv</a>
                                    <a href="#research">research</a>
                                    <a href="#teaching">teaching</a>
                                </nav>
                            </header>
                            <hr class="inline-hr" data-content="">
                        </td>
                    </tr>
                    <tr>
                        <td class="content-cell">
                            <p>
                            I am a Ph.D. candidate in Finance and Economics at Warwick Business School of the University of Warwick.
                            </p>
                            <p>
                            My research interests lie at the intersection of financial economics and industrial organization.
                            </p>
                            <p style="margin-top: 3em;">
                            <b style="font-family: 'Bitter', serif; font-variant: small-caps; font-size: 16pt;">contact:</b>
                            </p>
                            <div class="contact">
                                <ul class="social-icons">
                                    <li>
                                        <i class="fa-solid fa-square-envelope" aria-hidden="true" style="font-size:2em;color:#377E7F;padding-right:0.375em;"></i>
                                        <div id="email">
                                            <noscript><i>Please enable Javascript to view my email address.</i></noscript>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </td>
                        <td class="profile-photo-container">
                            <div class="profile-photo">
                                <img class="profile-photo-img" alt="profile photo" src="images/ozaneakbas-with-bg.png">
                                <div class="contact2">
                                    <ul class="social-icons">
                                        <li>
                                            <a href="https://x.com/ozaneakbas" style="color:black;"> <i class="fa-brands fa-square-x-twitter" aria-hidden="true" style="color: #377E7F;"></i> </a>
                                        </li>
                                        <li>
                                            <a href="https://www.linkedin.com/in/ozaneakbas/" style="color:black;"> <i class="fa-brands fa-linkedin" aria-hidden="true" style="color: #377E7F;"></i> </a>
                                        </li>
                                        <li>
                                            <a href="https://scholar.google.com/citations?user=-iFka_MAAAAJ&hl=en&oi=sra/" style="color:black;"> <i class="fa-brands fa-square-github" aria-hidden="true" style="color: #377E7F;"></i> </a>
                                        </li>
                                        <li>
                                            <a href="https://scholar.google.com/citations?user=-iFka_MAAAAJ&hl=en&oi=sra/" style="color:black;"> <i class="ai ai-google-scholar-square" aria-hidden="true" style="color: #377E7F;"></i> </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </td>
                    </tr>
                </table>
                <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
                    <tr id="research">
                        <!---------------------------------------------------------------------->
                        <!----------------------------- RESEARCH ------------------------------->
                        <!---------------------------------------------------------------------->
                        <hr class="inline-hr section" data-content="research">
                        <!---------------------------------------------------------------------->
                        <!--------------------------- WORKING PAPERS --------------------------->
                        <!---------------------------------------------------------------------->
                        <hr class="inline-hr subsection" data-content="working papers">
                        <ul class="aligned-ul">
                            {% for post in site.posts %}
                            {% for cat in post.categories %}
                            {% if cat == 'workingpaper' %}
                            <li>
                                <a href="{{post.doi}}" style="font-weight:700;"> {{post.title}} </a>
                                {% if {{post.type}} == 'joint' %}
                                <em> with {{post.coauthors}} </em>
                                {% endif %}
                                {% if {{post.status}} == 'rr' %}
                                <br>
                                <b> R&amp;R at {{post.journal}} </b>
                                {% endif %}
                                {% if {{post.haiku}} != "" %}
                                <br>
                                <simpleentry>
                                <em style="color:#377E7F"> {{post.haiku}} </em>
                                </simpleentry>
                                {% endif %}
                                {% if {{post.presentations}} != "" %}
                                <br>
                                <simpleentry>
                                <b> Presentations: </b> {{post.presentations}}
                                </simpleentry>
                                {% endif %}
                                <p></p>
                            </li>
                            {% endif %}
                            {% endfor %}
                            {% endfor %}
                        </ul>
                        <!---------------------------------------------------------------------->
                        <!-------------------------- WORK IN PROGRESS -------------------------->
                        <!---------------------------------------------------------------------->
                        <hr class="inline-hr subsection" data-content="work in progress">
                        <ul class="aligned-ul">
                            {% for post in site.posts %}
                            {% for cat in post.categories %}
                            {% if cat == 'workinprogress' %}
                            <li>
                                <nodoi style="font-weight:700;"> {{post.title}} </nodoi>
                                {% if {{post.type}} == 'joint' %}
                                <em> with {{post.coauthors}} </em>
                                {% endif %}
                                {% if {{post.haiku}} != "" %}
                                <br>
                                <simpleentry>
                                <em style="color:#377E7F"> {{post.haiku}} </em>
                                </simpleentry>
                                {% endif %}
                                <p></p>
                            </li>
                            {% endif %}
                            {% endfor %}
                            {% endfor %}
                        </ul>
                        <!---------------------------------------------------------------------->
                        <!----------------------------- TEACHING ------------------------------->
                        <!---------------------------------------------------------------------->
                        <hr class="inline-hr section" data-content="teaching">
                        <ul class="aligned-ul">
                            <li>
                                <course>
                                    Mergers and Acquisitions (2024)
                                    <br>
                                    <simpleentry>
                                    <em> TA for Jim Goldman </em>
                                    </simpleentry>
                                </course>
                                <p></p>
                            </li
                        </ul>
                    </tr>
                </table>
                <!-------------------------------------------------------------------------->
                <!--------------------------------- FOOTER --------------------------------->
                <!-------------------------------------------------------------------------->
                <hr class="inline-hr" data-content="">
                <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
                    <tr>
                        <td>
                            <footer>
                            &copy; {{ site.time | date: '%Y' }} {{ site.name | default: site.title }}.
                            <br>
                            Design and source code are influenced by <a href="https://jonbarron.info/">Jon Barron</a> and <a href="https://leonidk.com/">Leonid Keselman</a>. Email scrambler is by <a href="https://jeffdonahue.com/">Jeff Donahue</a>.
                            <br>
                            The practice of writing haiku summaries of my research papers is inspired by <a href="https://kirbyknielsen.com/">Kirby Nielsen</a>.
                            </footer>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</body>

<script>
    emailScramble = new scrambledString(
        document.getElementById('email'),
        'emailScramble',
        'kow.buzrak.kca.awan@asic',
        [18,1,15,5,8,23,2,14,9,7,22,24,17,13,19,3,12,20,4,11,6,10,16,21]
    );
</script>

</html>
